<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <!-- Font Awesome -->
            <link
                    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
                    rel="stylesheet"
            />
            <!-- Google Fonts -->
            <link
                    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
                    rel="stylesheet"
            />
            <!-- Favicon -->
            <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" />

            <!-- Library / Plugin Css Build -->
            <link rel="stylesheet" href="{{ asset('css/core/libs.min.css') }}" />

            <!-- Aos Animation Css -->
            <link rel="stylesheet" href="{{ asset('vendor/aos/dist/aos.css') }}" />

            <!-- Hope Ui Design System Css -->
            <link rel="stylesheet" href="{{ asset('css/hope-ui.min.css') }}?v=1.2.0" />

            <!-- Custom Css -->
            <link rel="stylesheet" href="{{ asset('css/custom.min.css') }}?v=1.2.0" />

            <!-- Dark Css -->
            <link rel="stylesheet" href="{{ asset('css/dark.min.css') }}"/>

            <!-- Customizer Css -->
            <link rel="stylesheet" href="{{ asset('css/customizer.min.css') }}" />

            <!-- RTL Css -->
            <link rel="stylesheet" href="{{ asset('css/rtl.min.css') }}"/>
        {% endblock %}

    </head>
    <body class=" " data-bs-spy="scroll" data-bs-target="#elements-section" data-bs-offset="0" tabindex="0">
    <!-- loader Start -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body"></div>
        </div>
    </div>
    <!-- loader END -->
    {% if app.user %} {% include 'menu.html.twig' %} {% include 'header.html.twig' %}{% endif %}
        {% include 'common/flash-messages.html.twig' %}
        {% block body %}{% endblock %}
        {% if app.user %} {% include 'footer.html.twig' %} {% endif %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('js/jquery-3.6.0.min.js') }}"></script>

            <!-- Library Bundle Script -->
            <script src="{{ asset('js/core/libs.min.js') }}"></script>

            <!-- External Library Bundle Script -->
            <script src="{{ asset('js/core/external.min.js') }}"></script>

            <!-- Widgetchart Script -->
            <script src="{{ asset('js/charts/widgetcharts.js') }}"></script>

            <!-- mapchart Script -->
            <script src="{{ asset('js/charts/vectore-chart.js') }}"></script>
            <script src="{{ asset('js/charts/dashboard.js') }}" ></script>

            <!-- fslightbox Script -->
            <script src="{{ asset('js/plugins/fslightbox.js') }}"></script>

            <!-- Settings Script -->
            <script src="{{ asset('js/plugins/setting.js') }}"></script>

            <!-- Slider-tab Script -->
            <script src="{{ asset('js/plugins/slider-tabs.js') }}"></script>

            <!-- Form Wizard Script -->
            <script src="{{ asset('js/plugins/form-wizard.js') }}"></script>

            <!-- AOS Animation Plugin-->
            <script src="{{ asset('vendor/aos/dist/aos.js') }}"></script>

            <!-- App Script -->
            <script src="{{ asset('js/hope-ui.js') }}" defer></script>
        {% endblock %}
    {% block custom_js %}
    {% endblock custom_js %}
    </body>
</html>
