{% extends 'base.html.twig' %}

{% block title %} Editando Usuario - {{ user.nome}}{% endblock title %}
{% block custom_js %}
    <script src="{{ asset('js/custom.js') }}"></script>
{% endblock custom_js %}
{% block body %}
<form action="{{ path('user_edit', { id: user.idUsuario }) }}" method="post">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title">Editando {{ user.nome }}</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="new-user-info">
                    <form>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-floating form-group mb-3">
                                    <input name="nome" type="text" class="form-control" id="input-nome" placeholder="Nome completo" value="{{ user.nome }}">
                                    <label class="form-label" for="input-nome">Nome</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-floating form-group mb-3">
                                    <input name="email" type="email" class="form-control" id="input-email" placeholder="Email" value="{{ user.email }}">
                                    <label class="form-label" for="input-email">Email</label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-floating form-group mb-3">
                                    <input name="login" type="text" class="form-control form-text" id="input-login" placeholder="Login" value="{{ user.login }}">
                                    <label class="form-label" for="input-login">Login</label>
                                </div>
                            </div>
                        </div>
                        <h5 class="mb-3">Permissões </h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    {% for key, role in roles %}
                                        <div class="form-check form-switch">
                                            <input type="hidden" name="profile[perfil][]" id="input-profile-hidden[]" value="{{ key }}">
                                            <input class="form-check-input profile-check" type="checkbox" name="profile[active][]" id="input-profile[]" {% if key in user.profile %} checked {% endif %}>
                                            <label class="form-check-label" for="input-profile[]">
                                                {{ role }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3 mt-4 form-check form-switch">
                                    <input name="active" class="form-check-input" type="checkbox" id="input-active" {% if user.active == true %} checked {% endif %}>
                                    <label class="form-check-label" for="input-active">Ativo</label>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="{{ path('user_default') }}" class="btn btn-link text-primary btn-sm rounded-pill">Voltar</a>
                            <button type="submit" class="btn btn-primary btn-sm rounded-pill">
                                <i class="fas fa-floppy-disk"></i> Salvar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock body %}

